.header,.hero,.body,.bar,.footer{
	background-color: #FFAEC9;
	padding: 20px 0px 10px 0px;
	margin-bottom: 10px;
}
.bg{
	background-color: #99D9EA;
	border:5px solid #22B14c;
	min-height: 60px;
	margin-bottom: 5px;
}
.red{
	background-color: red;
}